<form>

  <ion-item class="item-divider item-dark">Informations :</ion-item>
  <div class="list">
    <label class="item item-input item-stacked-label">
      <span class="input-label">Name</span>
      <input type="text" ng-model="programme.name" placeholder="...">
    </label>
  </div>
  <ion-item class="item-divider item-dark">Seances :</ion-item>
  <ion-list>
    <ion-item class="item-button-right" ng-repeat="seance in programme.seances ">
      <div class="buttons">
        <button class="button button-icon ion-trash-b " ng-click="removeSeance(seance)"> </button>
      </div>
      {{seance}}
    </ion-item>
  </ion-list>

  <ion-item class="item-divider item-dark">Add seances :</ion-item>

  <ion-item class="item-button-right" ng-repeat="seance in seances | toArray:false| differenceName: programme.seances | filter: { hide : false }">
    <div class="buttons">
      <button class="button button-icon ion-archive"  ng-click="addSeance(seance)"> </button>
    </div>
    {{seance.name}}
  </ion-item>

  <div class="button-bar ">
    <a class="button button-block button-dark" ng-click="$ionicGoBack()">cancel</a>
  </div>


</form>
