<ion-view view-title="edit exercice">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-add" ng-click="save()"></button>
  </ion-nav-buttons>
  <ion-content>
    <form>
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Name</span>
          <input type="text" ng-model="data.name" placeholder="...">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Description</span>
          <input type="text" ng-model="data.description" placeholder="...">
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Type
          </div>
          <select ng-model="data.type">
            <option value="Haltere">Haltere</option>
            <option value="Poulie" selected>Poulie</option>
            <option value="Barre">Barre</option>
            <option value="Poids du corps">Poids du corps</option>
          </select>

        </label>



        <ion-list  >
          <div ng-repeat="group in groups">
            <ion-item class="item-stable"
                      ng-click="toggleGroup(group)"
                      ng-class="{active: isGroupShown(group)}">
                <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
              &nbsp;
              {{group.name}}
            </ion-item>
            <ion-item class="item-accordion"
                      ng-repeat="muscle in group.items"
                      ng-show="isGroupShown(group)"
                      >
              <!-- <ion-checkbox ng-model="item.text">{{item}}</ion-checkbox> -->
              <label class="checkbox">
                  <input checklist-model="data.groupes" type="checkbox" checklist-value="muscle">
              </label>
              {{muscle}}
            </ion-item>
          </div>
        </ion-list>
        <div class="button-bar ">
          <a class="button button-block button-dark" ui-sref="app.exercices">cancel</a>
        </div>
      </div>
    </form>
    <input type="submit" value="Suppr" ng-click="delete()">
  </ion-content>
</ion-view>
