<ion-view view-title="exercices">

  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-add" ui-sref="app.exercice_create"></button>
  </ion-nav-buttons>

  <ion-content>
    <label class="item item-input item-select">
      <div class="input-label">
        type
      </div>
      <select ng-model="search.type" ng-options="type for type in types">
      </select>
    </label>

    <label class="item item-input item-select">
      <div class="input-label">
        Corps
      </div>
      <select ng-model="selected.corps" ng-options="key for (key, value) in groups">
      </select>
    </label>

    <label class="item item-input item-select" ng-hide="!selected.corps ">
      <div class="input-label">
        Muscle
      </div>
      <select ng-model="selected.muscle" ng-options="muscle for muscle in selected.corps">
      </select>
    </label>

    <ion-item class="item-divider item-dark"></ion-item>
    <ion-list>
      <div ng-repeat="exercice in exercices | toArray:false | filter: { type : search.type} | filter: { groups : selected.muscle }">
        <ion-item class="item-stable item-button-right" ng-class="{active: isGroupShown(exercice)}">
          <i class="icon" ng-click="toggleGroup(exercice)" ng-class="isGroupShown(exercice) ? 'ion-minus' : 'ion-plus'"></i>
          <a ng-click="toggleGroup(exercice)"> {{exercice.name}}</a>
          <div class="buttons">
            <button class="button button-icon ion-wrench" ng-hide="exercice.default" ui-sref="app.exercice_edit({exercice : exercice})"> </button>
            <button class="button button-icon ion-trash-b" ng-hide="exercice.default" ng-click="remove(exercice)"> </button>
          </div>
          <!-- <a class="button button-small button-dark"><i class="icon" ng-class="'ion-wrench'"></i> </a> -->
        </ion-item>
        <ion-list class="item-accordion" ng-show="isGroupShown(exercice)">
          <ion-item>
           Description : {{exercice.description}}
          </ion-item>
          <ion-item>
            Type : {{exercice.type}}
          </ion-item>
          <ion-item>
            Muscles :
            <ion-item ng-repeat="muscle in exercice.groups">
              {{muscle}}
            </ion-item>
          </ion-item>
        </ion-list>
      </div>
    </ion-list>



  </ion-content>
</ion-view>
