<ion-view view-title="new programmes">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-add" ng-click="save()"></button>
  </ion-nav-buttons>
  <ion-content>
    <form>

      <ion-item class="item-divider item-dark">Informations :</ion-item>
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Name</span>
          <input type="text" ng-model="data.name" placeholder="...">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Description</span>
          <input type="text" ng-model="data.description" placeholder="...">
        </label>
      </div>
      <ion-item class="item-divider item-dark">Seances :</ion-item>
      <ion-list>
        <ion-item class="item-button-right" ng-repeat="seance in data.seances ">
          <div class="buttons">
            <button class="button button-icon ion-trash-b " ng-click="deleteSeance(seance)"> </button>
          </div>
          {{seance.name}}
        </ion-item>
      </ion-list>

      <ion-item class="item-divider item-dark">Add seances :</ion-item>

      <ion-item class="item-button-right" ng-repeat="seance in seances | difference: data.seances| toArray:false | filter: { hide : false }">
        <div class="buttons">
          <button class="button button-icon ion-archive"  ng-click="addSeance(seance)"> </button>
        </div>
        {{seance.name}}
      </ion-item>

      <div class="button-bar ">
        <a class="button button-block button-dark" ui-sref="app.Programmes">cancel</a>
      </div>


    </form>
  </ion-content>
</ion-view>
