<ion-view view-title="programmes">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-add" ui-sref="app.programme_create"></button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <div ng-repeat="programme in programmes">
        <ion-item  class="item-stable item-button-right">
          <i class="icon" ng-click="toggleGroup(programme)" ng-class="isGroupShown(programme) ? 'ion-minus' : 'ion-plus'"></i>
          <a ng-click="toggleGroup(programme)">{{programme.name}}</a>
          <div class="buttons">
            <button class="button button-icon ion-wrench" ui-sref="app.programme_edit({programme : programme})"> </button>
            <button class="button button-icon ion-trash-b" ng-click="remove(programme)"> </button>
          </div>
        </ion-item>
        <ion-list  class="item-accordion" ng-show="isGroupShown(programme)">
          <ion-item>
            Seances :
            <ion-item ng-repeat="seance in programme.seances">
              {{seance}}
            </ion-item>
          </ion-item>
        </ion-list>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
